html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0.5em;
}

.activeItem {
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.custom-label {
    font-size: var(--mantine-font-size-sm);
}

.activeItem:hover {
    background-color: var(--mantine-color-blue-2);
    color: black;
}

.selectedItem {
    background-color: var(--mantine-color-blue-1);
}

.openTabsCount {
    font-size: 10px;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.7;
}

.card-set {
    font-size: 10pt;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
    padding: 16px;
    background-color: ghostwhite;
}

.card {
    font-size: 12pt;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    background: white;
    display: grid;
    transition: background 0.3s ease, color 0.3s ease;
    border-left: 6px solid transparent;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.card:hover {
    color: black;
    background-color: var(--mantine-color-blue-2);
}

.card-details {
    font-size: 12pt;
    padding: 15px;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
}

.card-details-item {
    padding: 10px;
    border-radius: 6px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.border-enter {
    border-left-color: lawngreen;
}

.label {
    font-weight: bold;
    overflow: auto;
}