html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0.5em;
}

.activeItem {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.activeItem:hover {
    background-color: var(--mantine-color-blue-2);
    color: black;
}

.selectedItem {
    background-color: var(--mantine-color-blue-1);
}

.openTabsCount {
    font-size: 10px;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.7;
}