html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0.5em;
}

.activeItem {
    cursor: pointer;
}

.activeItem:hover {
    background-color: var(--mantine-color-blue-2);
    color: black;
}